<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= link_to 'back to all restaurants', restaurants_path, class: "btn btn-default btn-xs button-margin" %>
    <h1>Create a new Restaurant</h1>
    <%= render 'form' %>
  </div>
</div>
