<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Create a new Review</h1>
    <%= render 'form' %>
    <%= link_to 'back to restaurant', restaurant_path(@restaurant) %>
  </div>
</div>
