<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= link_to 'back to restaurant', restaurant_path(@restaurant), class: "btn btn-default btn-xs button-margin" %>
    <h1>Create a new Review</h1>
    <%= render 'form' %>
  </div>
</div>
